#.idea
.idea/

#gulp node_modules
document/gulp/practice/node_modules/

# gulp scale
document/gulp/scale/

#document webpack node_modules
document/webpack/practice/node_modules/
document/webpack/practice-v2.0/node_modules/

#webpack
document/webpack/new_bid_front/

node_modules

#d3源码
books/d3_4.x数据可视化实战手册第二版/source_code/

books/ECMAScript6/1起步/node_modules/
noob-study/mongodb/20Nodejs/node_modules/
