/*
全局类样式
 */
@customBlue: rgb(125,149,246);
@customLightBlue: rgb(180,194,255);
.white-word {
    color: white;
}
.lightBlue-word {
    color: @customLightBlue;
}
/*
页眉
 */
#nav {
    background-color: @customBlue;
    text-align: center;
    display: block;

    div:nth-child(1) {
        display: inline;
        float: left;
        padding-left: 1rem;
        cursor: pointer;
    }
    div:nth-child(2) {
        display: inline;
    }
    div:nth-child(3) {
        display: inline;
        float: right;
        padding-right: 1rem;
        cursor: pointer;
    }
}

#header{
    background: @customBlue;
    height: 410px;
    #time {
        height: 200px;
        text-align: center;
        line-height: 200px;
        span{

        }
        span:nth-child(2){
            border:2px solid rgb(107,130,235);
            border-radius: 1rem;
            padding: 4px 10px;
            box-shadow: 0 3px 10px 1px rgb(107,130,235);
        }
    }
}

